#side-bar{
    height: 1000px;
    background-color: #E6E6E6;    
}

#body{
    height: 1000px;
    background-color: #F2F2F2;
}




#card{
    width: 500px;
    height: 600px;
    padding: 2em;
    background-color: white; 
    border-radius: 15px;
    -moz-box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
    -webkit-box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
    box-shadow:0.3px 0.3px 12px -5px rgba(20%,20%,40%,0.5);
}